vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
build/
cache/

# Local .terraform directories
**/.terraform

# .tfstate files
*terraform.lock.hcl
*.tfstate
*.tfstate.*

yarn.lock
# node ignores
oracle/node_modules/
node_modules/
package-lock.json
*/package-lock.json

# test coverage output
c.out

# fuzz test data
**/testdata/fuzz/**

# loadtest contracts build artifact
loadtest/contracts/**/artifacts/
loadtest/contracts/**/target/
loadtest/contracts/**.json

loadtest_results.txt

# parallelization test build artifact
parallelization/**/artifacts/
parallelization/**/target/
parallelization/**/Cargo.lock

# integration test resources
integration_test/**/*.txt

# Coverage Files
coverage.html
coverage.out

# example artifacts
example/cosmwasm/echo/target
example/cosmwasm/cw20/target

# Solidity contracts artifacts
contracts/artifacts
