version: '3.3'

services:
  node0:
    platform: linux/amd64
    container_name: sei-node0
    image: "sei-chain/localnode"
    ports:
      - "26656-26658:26656-26658"
      - "9090-9091:9090-9091"
    environment:
      - ID=0
      - CLUSTER_SIZE=4
      - NUM_ACCOUNTS
      - SKIP_BUILD
    volumes:
      - "${PROJECT_HOME}:/sei-protocol/sei-chain:Z"
      - "${GO_PKG_PATH}/mod:/root/go/pkg/mod:Z"
      - "/tmp/node_0/.sei:/root/.sei"
    networks:
      localnet:
        ipv4_address: 192.168.10.10

  node1:
    platform: linux/amd64
    container_name: sei-node1
    image: "sei-chain/localnode"
    ports:
      - "26659-26661:26656-26658"
      - "9092-9093:9090-9091"
    environment:
      - ID=1
      - CLUSTER_SIZE=4
      - NUM_ACCOUNTS
      - SKIP_BUILD
    volumes:
      - "${PROJECT_HOME}:/sei-protocol/sei-chain:Z"
      - "${GO_PKG_PATH}/mod:/root/go/pkg/mod:Z"
      - "/tmp/node_1/.sei:/root/.sei"
    networks:
      localnet:
        ipv4_address: 192.168.10.11

  node2:
    platform: linux/amd64
    container_name: sei-node2
    image: "sei-chain/localnode"
    environment:
      - ID=2
      - CLUSTER_SIZE=4
      - NUM_ACCOUNTS
      - SKIP_BUILD
    ports:
      - "26662-26664:26656-26658"
      - "9094-9095:9090-9091"
    volumes:
      - "${PROJECT_HOME}:/sei-protocol/sei-chain:Z"
      - "${GO_PKG_PATH}/mod:/root/go/pkg/mod:Z"
      - "/tmp/node_2/.sei:/root/.sei"
    networks:
      localnet:
        ipv4_address: 192.168.10.12

  node3:
    platform: linux/amd64
    container_name: sei-node3
    image: "sei-chain/localnode"
    environment:
      - ID=3
      - CLUSTER_SIZE=4
      - NUM_ACCOUNTS
      - SKIP_BUILD
    ports:
      - "26665-26667:26656-26658"
      - "9096-9097:9090-9091"
    volumes:
      - "${PROJECT_HOME}:/sei-protocol/sei-chain:Z"
      - "${GO_PKG_PATH}/mod:/root/go/pkg/mod:Z"
      - "/tmp/node_3/.sei:/root/.sei"
    networks:
      localnet:
        ipv4_address: 192.168.10.13

networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.10.0/24
