version: '3.3'

services:
  node0:
    container_name: sei-node0
    image: "sei-chain/localnode"
    ports:
      - "26656-26658:26656-26658"
    environment:
      - ID=0
      - SKIP_BUILD
    volumes:
      - "${PROJECT_HOME}:/sei-protocol/sei-chain:Z"
      - "${GO_PKG_PATH}/mod:/root/go/pkg/mod:Z"
    networks:
      localnet:
        ipv4_address: 192.168.10.10

  node1:
    container_name: sei-node1
    image: "sei-chain/localnode"
    ports:
      - "26659-26661:26656-26658"
    environment:
      - ID=1
      - SKIP_BUILD
    volumes:
      - "${PROJECT_HOME}:/sei-protocol/sei-chain:Z"
      - "${GO_PKG_PATH}/mod:/root/go/pkg/mod:Z"
    networks:
      localnet:
        ipv4_address: 192.168.10.11

  node2:
    container_name: sei-node2
    image: "sei-chain/localnode"
    environment:
      - ID=2
      - SKIP_BUILD
    ports:
      - "26662-26664:26656-26658"
    volumes:
      - "${PROJECT_HOME}:/sei-protocol/sei-chain:Z"
      - "${GO_PKG_PATH}/mod:/root/go/pkg/mod:Z"
    networks:
      localnet:
        ipv4_address: 192.168.10.12

  node3:
    container_name: sei-node3
    image: "sei-chain/localnode"
    environment:
      - ID=3
      - SKIP_BUILD
    ports:
      - "26665-26667:26656-26658"
    volumes:
      - "${PROJECT_HOME}:/sei-protocol/sei-chain:Z"
      - "${GO_PKG_PATH}/mod:/root/go/pkg/mod:Z"
    networks:
      localnet:
        ipv4_address: 192.168.10.13

networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.10.0/24