# CODEOWNERS: https://help.github.com/articles/about-codeowners/

*       @colin-axner @AdityaSripal @crodriguezvega @seantking @charleenfei @damiannolan

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies 27-interchain-accounts files, only the interchain account owners 
# and not the global owner(s) will be requested for a review.

# CODEOWNERS for the CODEOWNER file

/.github/CODEOWNERS @colin-axner @AdityaSripal @crodriguezvega

# CODEOWNERS for the core IBC module

/modules/core/ @colin-axner @fedekunze @AdityaSripal 
/proto/core/ @colin-axner @fedekunze @AdityaSripal 

# CODEOWNERS for the light-clients

/modules/light-clients/ @colin-axner @fedekunze @AdityaSripal 
/proto/lightclients/ @colin-axner @fedekunze @AdityaSripal 

# CODEOWNERS for ICS 20

/modules/apps/transfer/ @colin-axner @fedekunze @AdityaSripal 
/proto/applications/transfer/ @colin-axner @fedekunze @AdityaSripal 

# CODEOWNERS for interchain-accounts module

/modules/apps/27-interchain-accounts/ @seantking @colin-axner @AdityaSripal @damiannolan
/proto/applications/interchain_accounts/ @seantking @colin-axner @AdityaSripal @damiannolan
