package {{.PackageName}}

import (
	"github.com/ethereum/go-ethereum/core/vm"
{{- range .LegacyVersions}}
	{{$.PackageName}}{{.Folder}} "github.com/sei-protocol/sei-chain/precompiles/{{$.PackageName}}/legacy/{{.Folder}}"
{{- end}}
	"github.com/sei-protocol/sei-chain/precompiles/utils"
)

func GetVersioned(latestUpgrade string, keepers utils.Keepers) utils.VersionedPrecompiles {
	return utils.VersionedPrecompiles{
		latestUpgrade: check(NewPrecompile(keepers)),
{{- range .LegacyVersions}}
		"{{.Tag}}":      check({{$.PackageName}}{{.Folder}}.NewPrecompile(keepers)),
{{- end}}
	}
}

func check(p vm.PrecompiledContract, err error) vm.PrecompiledContract {
	if err != nil {
		panic(err)
	}
	return p
}
