name: Buf
on:
  pull_request:
    types: [ opened, synchronize, reopened, labeled, unlabeled ]
permissions:
  contents: read
  pull-requests: write
jobs:
  buf:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with: 
          paths: "./sei-tendermint"
