name: Run Dapp Tests

# Only runs when manually triggered
on:
  workflow_dispatch:

jobs:
  setup:
    name: Setup Test Environment
    runs-on: ubuntu-latest
    steps:
      - name: Download seid
        run: |
          chmod +x ./integration_test/dapp_tests/dapp_tests.sh
          make install

  run-tests-devnet:
    name: Run Tests on Devnet
    runs-on: ubuntu-latest
    environment:
      name: devnet
    steps:
      - uses: actions/checkout@v3

      - name: Run Dapp Tests Script on Devnet
        run: |
          chmod +x ./integration_test/dapp_tests/dapp_tests.sh
          ./integration_test/dapp_tests/dapp_tests.sh devnet

  run-tests-testnet:
    name: Run Tests on Testnet
    runs-on: ubuntu-latest
    environment:
      name: testnet
    steps:
      - uses: actions/checkout@v3

      - name: Run Dapp Tests Script on Testnet
        run: |
          chmod +x ./integration_test/dapp_tests/dapp_tests.sh
          ./integration_test/dapp_tests/dapp_tests.sh testnet
