name: Build docker image

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  sei-images:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      -
        name: Check out the repo
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Validate Docker build (amd64)
        run: docker build --platform=linux/amd64 --target=go-builder .

      - name: Validate Docker build (arm64)
        run: docker build --platform=linux/arm64 --target=go-builder .
