name: Go Test Coverage
on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main
      - release/**

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}

jobs:
  tests:
    env:
      GO_TEST_TIMEOUT: 30m
    name: "Test ${{ matrix.modules.name }}"
    runs-on: uci-nvme
    strategy:
      fail-fast: false
      matrix:
        modules:
          - name: sei-chain
            path: ./
            tags: ledger test_ledger_mock
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: env.DOCKERHUB_USERNAME != ''
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Go test with coverage
        working-directory: '${{ matrix.modules.path }}'
        run: go test -tags='${{ matrix.modules.tags }}' -timeout='${{env.GO_TEST_TIMEOUT}}' -covermode=atomic -coverprofile=coverage.out -coverpkg=./... ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: 'true'
          disable_search: 'true'
          name: '${{ matrix.modules.name }}-coverage'
          files: ${{ matrix.modules.path }}/coverage.out
          flags: ${{ matrix.modules.name }}