name: Go
on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main
      - release/**

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}

jobs:
  tests:
    name: Test
    runs-on: uci-nvme
    env:
      GO_TEST_TIMEOUT: 30m
      GOFLAGS: -race -tags=ledger,test_ledger_mock
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: ${{ github.event_name == 'pull_request' && 0 || 1 }}

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
          cache: false

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: env.DOCKERHUB_USERNAME != ''
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Download modules
        run: go mod download

      - name: Determine test packages
        id: test-packages
        if: github.event_name == 'pull_request'
        run: |
          CHANGED=$(git diff --name-only origin/${{ github.base_ref }}...HEAD -- sei-iavl/ | wc -l)
          if [[ "$CHANGED" -eq 0 ]]; then
            echo "No changes in sei-iavl/, excluding from tests"
            echo "packages=$(go list ./... | grep -v '/sei-iavl' | tr '\n' ' ')" >> "$GITHUB_OUTPUT"
            exit 0
          fi
          echo "packages=./..." >> "$GITHUB_OUTPUT"

      - name: Go test
        run: |
          go test \
            -timeout=${{ env.GO_TEST_TIMEOUT }} \
            ${{ steps.test-packages.outputs.packages || './...' }}