name: Go
on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main
      - release/**

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}

jobs:
  tests:
    env:
      GO_TEST_TIMEOUT: 30m
    name: "Test ${{ matrix.modules.name }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        modules:
          - name: sei-chain
            path: ./
          - name: sei-cosmos
            path: ./sei-cosmos
            tags: ledger test_ledger_mock
          - name: sei-ibc-go
            path: ./sei-ibc-go
          - name: sei-tendermint
            path: ./sei-tendermint
          - name: sei-wasmd
            path: ./sei-wasmd
            tags: ledger test_ledger_mock
          - name: sei-wasmvm
            path: ./sei-wasmvm
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: Remove unnecessary tooling
        run: |
          # Remove unrelated tooling to open up more space. Without doing 
          # this ~80% of the available 15GiB space is already occupied.
          sudo rm -rf \
            /usr/share/dotnet \
            /usr/local/lib/android \
            /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
      - name: Go test with race detector
        working-directory: '${{ matrix.modules.path }}'
        run: go test -race -tags='${{ matrix.modules.tags }}' -timeout='${{env.GO_TEST_TIMEOUT}}' -covermode=atomic -coverprofile=coverage.out ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: 'true'
          disable_search: 'true'
          name: '${{ matrix.modules.name }}-coverage'
          files: ${{ matrix.modules.path }}/coverage.out
          flags: ${{ matrix.modules.name }}