name: Go Test Coverage
on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main
      - release/**

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}

jobs:
  tests:
    name: Test Coverage
    runs-on: uci-nvme
    env:
      GO_TEST_TIMEOUT: 30m
      GOFLAGS: -tags=ledger,test_ledger_mock
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
          cache: false

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: env.DOCKERHUB_USERNAME != ''
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Download modules
        run: go mod download

      - name: Go test with coverage
        run: |
          go test \
            -timeout=${{ env.GO_TEST_TIMEOUT }} \
            -p=${GOMAXPROCS:-$(nproc)} \
            -parallel=${GOMAXPROCS:-$(nproc)} \
            -covermode=atomic \
            -coverprofile=coverage.out \
            -coverpkg=./... \
            ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: 'true'
          disable_search: 'true'
          name: sei-chain-coverage
          files: ./coverage.out
          flags: sei-chain