name: Go
on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main
      - release/**

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}

jobs:
  tests:
    env:
      GO_TEST_TIMEOUT: 30m
      GO_TEST_SKIP_PACKAGES: "sei-iavl"
    name: "Test ${{ matrix.modules.name }} (${{ matrix.shard }}/${{ matrix.total_shards }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        total_shards: [2]
        shard: [1, 2]
        modules:
          - name: sei-chain
            path: ./
            tags: ledger test_ledger_mock
          - name: sei-cosmos
            path: ./sei-cosmos
            tags: ledger test_ledger_mock
          - name: sei-tendermint
            path: ./sei-tendermint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: Remove unnecessary tooling
        run: |
          # Remove unrelated tooling to open up more space. Without doing 
          # this ~80% of the available 15GiB space is already occupied.
          sudo rm -rf \
            /usr/share/dotnet \
            /usr/local/lib/android \
            /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
      - name: Go test with race detector
        working-directory: '${{ matrix.modules.path }}'
        run: |
          if [ -n "$GO_TEST_SKIP_PACKAGES" ]; then
            ALL_PACKAGES=$(go list ./... | grep -v -E "$GO_TEST_SKIP_PACKAGES")
          else
            ALL_PACKAGES=$(go list ./...)
          fi
          
          # Split packages into shards
          PACKAGES=$(echo "$ALL_PACKAGES" | awk "NR % ${{ matrix.total_shards }} == ${{ matrix.shard }} - 1")
          
          if [ -n "$PACKAGES" ]; then
            go test -race -tags='${{ matrix.modules.tags }}' -timeout='${{env.GO_TEST_TIMEOUT}}' -covermode=atomic -coverprofile=coverage.out $PACKAGES
          else
            echo "No packages in this shard"
            touch coverage.out
          fi
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: 'false'
          disable_search: 'true'
          name: '${{ matrix.modules.name }}-shard-${{ matrix.shard }}-coverage'
          files: ${{ matrix.modules.path }}/coverage.out
          flags: ${{ matrix.modules.name }}