name: Go


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
 run:
  shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v3

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Test
      run: python3 runtests.py

    - name: Test coverage report
      run: go install github.com/axw/gocov/gocov@latest
      run: go install github.com/AlekSi/gocov-xml@latest
      run: go test ./...  -coverprofile=cover.out
      run: gocov convert cover.out | gocov-xml > /coverage.xml
      
    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: /coverage.xml
        badge: true
        format: 'markdown'
        output: 'both'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md

    - name: Write to Job Summary
      run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY