name: Go

on:
  workflow_call:
  push:
    branches:
      - main
      - release/**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Test ${{ matrix.modules.name }}
    runs-on: ubuntu-latest
    env:
      GO_TEST_TIMEOUT: 30m

    strategy:
      fail-fast: false
      matrix:
        modules:
          - name: sei-chain
            path: ./
          - name: sei-cosmos
            path: ./sei-cosmos
            tags: ledger test_ledger_mock
          - name: sei-db
            path: ./sei-db
          - name: sei-tendermint
            path: ./sei-tendermint
          - name: sei-wasmd
            path: ./sei-wasmd
            tags: ledger test_ledger_mock
          - name: sei-wasmvm
            path: ./sei-wasmvm

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          cache: true

      - name: Clean up pre-installed tooling
        run: |
          sudo rm -rf \
            /usr/share/dotnet \
            /usr/local/lib/android \
            /opt/ghc \
            /opt/hostedtoolcache/CodeQL \
            /usr/local/.ghcup
          sudo docker image prune --all --force

      - name: Run tests with race detector & coverage
        working-directory: ${{ matrix.modules.path }}
        run: |
          if [ -z "${{ matrix.modules.tags }}" ]; then
            go test -race \
              -timeout="${GO_TEST_TIMEOUT}" \
              -covermode=atomic \
              -coverprofile=coverage.out \
              ./...
          else
            go test -race \
              -tags="${{ matrix.modules.tags }}" \
              -timeout="${GO_TEST_TIMEOUT}" \
              -covermode=atomic \
              -coverprofile=coverage.out \
              ./...
          fi

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ matrix.modules.path }}/coverage.out
          flags: ${{ matrix.modules.name }}
          name: ${{ matrix.modules.name }}-coverage
          fail_ci_if_error: false
          verbose: true
