name: Mock Balances Build Check

on:
  pull_request:
    branches:
      - main
      - release/**
  push:
    branches:
      - main
      - release/**

jobs:
  mock-balances-build:
    name: Compile with Mock Balances
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.25.6'

      - name: Build with Mock Balances
        run: make install-mock-balances
