name: Buf-Push
# Protobuf runs buf (https://buf.build/) push updated proto files to https://buf.build/sei-protocol/sei-chain
# This workflow is only run when a .proto file has been changed
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - seiv2
    paths:
      - "proto/**"

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: bufbuild/buf-setup-action@v1.26.1
      - uses: bufbuild/buf-push-action@v1
        with:
          input: "proto"
          buf_token: ${{ secrets.BUF_TOKEN }}
