name: UCI / Stale Check

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
    uses: sei-protocol/uci/.github/workflows/stale-check.yml@v0.0.6
    with: 
      days-before-pr-stale: 28