name: UCI / Backport

on:
  pull_request_target:
    types:
      - closed
  issue_comment:
    types:
      - created

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    uses: sei-protocol/uci/.github/workflows/backport.yml@v0.0.4