name: UCI
run-name: UCI / Backport

on:
  pull_request_target:
    types:
      - closed
  issue_comment:
    types:
      - created

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    name: Backport
    uses: sei-protocol/uci/.github/workflows/backport.yml@v0.0.6
    secrets: inherit