name: UCI
run-name: UCI / Go Lint

on:
  pull_request:
  push:
    branches:
      - main
      - release/**
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event_name == 'push' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  go-lint:
    name: Go
    uses: sei-protocol/uci/.github/workflows/go-lint.yml@v0.0.6
    with:
      go-version: '1.25.6'