name: Unit Test Coverage

on:
  pull_request:
  push:
    branches:
      - master
      - release/**


defaults:
 run:
  shell: bash

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request && 'refs/pull/${{ github.event.pull_request.number }}/merge' }}
    - uses: actions/setup-python@v3

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Run coverage
      run: go test -v ./... -coverprofile=coverage.txt -covermode=atomic -parallel 4

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
